font-family:  'Advent Pro', sans-serif;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    
    
}
a {
    color: #000000;
    text-decoration: none
}

img {
    overflow-clip-margin: content-box;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background: linear-gradient(90deg, #e7e7e7, #D1CECD, #ffffff );
    animation: color 12s ease-in-out infinite;
}


@keyframes color{
    0% {
        background-position: 0 50%;
    }
    50% {

        background-position: 100 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
/* INTRODUCCION */
.background-image {
    background-image: url('../img/BIM_01.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    opacity: 50%;
    position: absolute;  /* La imagen de fondo ahora es absoluta */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  

    /* background-repeat: no-repeat.;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}
/* NAV */
/* --------------------------- INDEX --------------------------------*/
.grilla {
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
    "video      video"
    "quien      productos"
    "servicios  contacto";

    justify-items: center;
    align-items: stretch;

}
.video {
    grid-area: video;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
}



@media (max-width: 578px) {

    .grilla{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        grid-template-areas:
        "video"

    }
}


.main-background {
    font-family: Roboto, Arial, sans-serif;
    background: linear-gradient(90deg, #868686, #ffffff);
    background-size: 200% 200%;
    animation: Gradient 12s ease-in-out infinite;
    z-index: 1;
}

@keyframes Gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* --------------------------- INDEX --------------------------------*/

.main-header{
   font-family: roboto, sans-serif;
   padding: 0.8rem; 
   background: linear-gradient(90deg, #e7e7e7, #D1CECD, #ffffff );
    animation: color 12s ease-in-out infinite;
    font-size: 0.8rem;
    width: 100%;
}

.navbar-brand {
    font-size: 1rem;
    font-weight: 700;

}
.nav-item {
    display: flex;
    text-decoration: black;
    text-align: center;
    margin: 1rem;  
}

.dropdown-menu {
    font-size: 0.8rem;
}
.nav-item:hover {
    display: flex;
    background-color: gray;
    border-radius: 10%;
    gap: 1rem;
}

.logo {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: auto;
    margin: 0.5rem
}

.btn-outline-success{
    size: 50px;
    height: auto;
}
/* INTRODUCCION */

.intro-inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-block: 1rem;
    
}

.intro-inner-content {
    display: grid;
    grid-template-columns: .35fr 1fr;
    align-items: start;
    gap: 1rem;
}

.bim {
    border-radius: 1rem;
    transform: scale(3.2);
    max-width: 100%;
    order: 2;
    opacity: 8%;
    position: relative;
    z-index: -1;
}


/* FOOTER */
.main-footer {
    padding-block: 3rem;
    height: 1rem;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: end;
}

.main-footer-inner {
    height: 1rem;
    padding: 3rem;
    margin: 1rem;
}

.Icons {
    height: 2rem;
    align-items: end;
}


/* --------------------------- DASHBOARD --------------------------------*/

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  
  .gradient-border {
    border-width: 2px;
    border-style: solid;
    border-image-source: linear-gradient(270deg, violet, indigo, blue, green, yellow, orange, red);
    border-image-slice: 1;
    animation: gradient 3s ease-in-out infinite;
  }

.container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em;
    padding: 1em;
  }
  
  .card {
    border: 1px solid;
    margin: 1em;
    border-image-source: linear-gradient(270deg, violet, indigo, blue, green, yellow, orange, red);
    border-image-slice: 1;
    animation: gradient 3s ease-in-out infinite;
    overflow: hidden;
    width: 75%;
    max-width: 300px;
    margin: auto;
  }
  
  .card-img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 1em;
  }
  
  @keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.5rem;
    padding: 0.5rem;
}
  .card-body {
    
    background-color: #000000;
  }

  .carta{
    background-color: black;
  }
  .card-img-top {
    display: flex;
    width: 80%;
    height: auto;
    background-color: #000000;
    align-content: center;
    
  }
  .card-text {
    font-size: medium;
    color: white;
    align-items: center;
    font-weight: 700;
    padding: 0.2rem;
    text-align: center;
  }
  .card-date{
    font-size: small;
    color: white;
    align-items: center;
    font-weight: 400;
    padding: 0.2rem;
    text-align: center;

  }

  @media screen and (max-width: 768px) {
    .main-header{
        font-size: 0.7rem;
    }
    .navbar-brand {
        font-size: 0.8rem;
    }
    .nav-item {
        font-size: 0.8rem;
    }
    .dropdown-menu {
        font-size: 0.7rem;
    }

    .card {
        display: flex;
        flex-wrap: wrap;

    }


}

@media screen and (max-width: 576px) {
    .main-header{
        font-size: 0.5rem;
    }
    .navbar-brand {
        font-size: 0.6rem;
    }
    .nav-item {
        font-size: 0.6rem;
    }
    .dropdown-menu {
        font-size: 0.5rem;
    }
}